/***************
COLORS
******************/
// dark
$dark500: #000;
$dark400: #101010;
$dark300: #252525;
$dark200: #444;
$dark100: #555;

// light
$light500: #adadad;
$light400: #c1c1c1;
$light300: #d6d6d6;
$light200: #eaeaea;
$light100: #fff;

//main
$main500: #1976d2;
$main400: #2196f3;
$main300: #42a5f5;
$main200: #64b5f6;
$main100: #bbdefb;

// success

// error
$error500: #ff0000;
$error400: #ff3333;
$error300: #ff6666;
$error200: #ff9999;
$error100: #ffcccc;
